
:root {
  --bg-color: #f2f2f2;
  --text-color: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.logo {
  transition: 1s;
}

.center {
  height: 60%;
}

.logo:hover {
  color: aqua;
}

.center img {
  height: 100%;
  width: 100%;
}

.fas {
  margin: 10px;
  color: #ffffff;
  font-size: 1.5rem;
}

.link a:hover {
  border-bottom: 2px solid rgb(187, 47, 47);
}

.cen {
  border-radius: 50%;
}

.header {
  display: flex;
  background: #712cf9;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  height: 10vh;
  transition: all .2s ease-in-out;
  position: relative;
}


header a {
  text-decoration: none;
  padding: .2rem;
  color: rgb(255, 255, 255);
}

main {
  background: #ffffff;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse !important;
  transition: all 1s;
}

.lorem {
  margin: 0 2rem 0 0;
  max-width: clamp(400px, 500px, 600px);
  font-size: 1.4rem;
  opacity: .7;

}

.moving {
  margin: .4rem 0 0 0;
  height: 50px;
}

/* gece modu */

.night-mode {
  --bg-color: #212121;
  --text-color: #ffffff;
}

main {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.night-mode .buton {
  border: 2px solid white;
}

.night-mode .buton:hover {
  box-shadow: 1px 1px 1.5rem rgb(255, 255, 255);
}

.night-mode {
  --bg-color: #212121;
  --text-color: #ffffff;
}



.mode-toggle header {
  cursor: pointer;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

/* gece modu bitiş */

.buton {
  padding: .4rem .6rem;
  cursor: pointer;
  border-radius: 2rem;
  background: #03593C;
  color: #ffffff;
  transition: all ease-in-out .3s;
}

.buton:hover {
  background: aquamarine;
  transform: scale(1.05);
  box-shadow: 2px 2px 1.1rem black;
  color: #000000;
}

.buton:active {
  transform: scale(0.99)
}

@media screen and (max-width: 768px) {
  .header {
    height: 10vh;
  }

  .center {
    width: 65%;
    height: 40%;
    margin: 0 auto;
  }

  .root {
    margin: 0 auto;
  }

  .lorem {
    font-size: 1rem;

  }

  header {
    justify-content: space-evenly;
  }

  .root {
    text-align: center;
  }
}

@media screen and (max-width: 920px) {
  .root {
    font-size: .7rem;
  }

  .center {
    width: 75%;
    height: 40%;
    margin: 0 auto;
  }
}

@media print {
  body {
    display: none;
  }
}
